.about {
  background-color: #E7816B;

  &-header {
    // height: 71.5rem;
  
    &-img {
      max-width: 48rem;
      margin: auto;
    }

    &-text {
      text-align: center;
      color: #FFFFFF;

      h1 {
        text-transform: initial;
      }
    }
  }
}

.infos {
  background-color: #FDF3F0;
  // height: 86.5rem;

  &-content {

    &-img {
      max-width: 48rem;
      margin: auto;
    }

    &-text {
      text-align: center;

      h2 {
        color: #E7816B;
        text-transform: none;
        margin-bottom: 2.4rem;
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
}