@use "../../styles/variables/mixins" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 2.4rem;

  &-container {
    position: relative;
    padding: 2.4rem;
    background-color: #FFFFFF;
    color: #E7816B;
    border-radius: 15px;
    text-align: center;
  }

  &-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
}