// To setup Media Queries
@mixin mq($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// Mask Link image
@mixin mask-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  border-radius: 1.5rem;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-radius: 1.5rem;
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: 1;
  }
}