@use "../variables/mixins" as *;

:root {
  font-size: 10px;
  font-family: 'Jost', sans-serif;
}

body {
  background-color: #fff;
}

h1,h2,h3,h4, button {
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;

  @include mq(laptop) {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}

h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;

  @include mq(laptop) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 2.6rem;

  @include mq(laptop) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.container {
  position: relative;
  max-width: 111rem;
  margin: 0 auto;
  padding: 0 2.4rem;

  @include mq(tablet) {
    padding: 0 3.9rem 0 4rem ;
  }

  @include mq(desktop) {
    padding: 0
  }
}

.text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.button {
  width: 15.2rem;
  height: 5.6rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #333136;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  font-weight: 500;
}
